body {
    font-family: 'Laila', sans-serif;
    
}


/* .carousel {
    height: 660px;
}

.carousel-inner,
.item,
img {
    height: 660px;
    object-fit: contain;
} */


/* address {
    font-size: large;
    font-weight: 500;
} */

